<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<style type = "text/css">
body {background-image:url(back.jpg);color:#f5e6ff;}
h2 {letter-spacing: 10px; font-size: .2in; background-color:#9900ff; }
legend {font-variat:small-caps; font-weight:bold; color:#e0b3ff}
label {display:block; position:relative; line-height:2; margin: 10px 0px;}
</style>
<body>
<h2>LOGIN PAGE</h2>
<center><img src="askfm.png" width="300" height="200"/></center>
<form name="loginForm">
<fieldset>
<legend>login</legend>
<label> Username: <input type="text" name="username"/></label>
<label> Password: <input type="password" name="pass"/></label>
<input type="reset"/>
<a href="NewFile.html"><button type="button" value="Login">Login</button></a>
</fieldset>
</form>
</body>
</html>login