<!DOCTYPE html>
<html>
<head>
<title>Questions</title>
</head>
<style type="text/css">
　
</style>
<body>
<h1 style="color:#9900ff; text-align:center;">questions</h1>
<hr/><b>What did you forget to do today?</b><br/>
[ <a href="answer-page.html">Answer</a> ]<hr/>
<b>If you had three wishes, what would they be?</b><br/>
[ <a href="answer-page.html">Answer</a> ]<hr/>
<b>What is your favorite animal?</b><br/>
[ <a href="answer-page.html">Answer</a> ]<hr/>
<b>What is your biggest fear in life?</b><br/>
[ <a href="answer-page.html">Answer</a> ]<hr/>
<b>how old are you?</b><br/>
[ <a href="answer-page.html">Answer</a> ]<hr/>
</body>
</html>